.home .sign {
    background: linear-gradient(115deg, #bebebe, white 40%);
}

body.dark .home .sign {
    background: linear-gradient(115deg, #182a3d, #084480);
}

.home .sign .sign-box {
    border-top-left-radius: 60px;
}

@media(max-width : 640px) {

    .home .sign .sign-box,
    .home .sign .drawer>div {
        width: 500px !important;
    }
}

@media(min-width:535px) and (max-width : 640px) {
    .home .sign .drawer .sign-up p {
        font-size: 14px;
    }

    .home .sign .drawer .sign-in ul li {
        font-size: 13px;
    }
}

@media(max-width : 535px) {
    .home .sign h2 {
        margin-top: 2rem !important;
    }

    .home .sign .sign-box {
        height: 882px !important;
    }

    .home .sign .sign-box,
    .home .sign .drawer>div {
        width: 100% !important;
        flex-direction: column !important;
    }

    .home .sign .sign-box>div,
    .home .sign .drawer div {
        width: 100% !important;
    }

    .home .sign .sign-box .drawer {
        height: 50% !important;
    }

    .home .sign .drawer>div {
        height: 882px !important;
    }

    .home .sign .sign-box>div,
    .home .sign .drawer>div>div {
        min-height: 425px;
        justify-content: center;
    }
}

.home .sign.hide {
    transform: translateY(-100%);
    transition-duration: 1s;
}

.home .sign .sign-box.hide {
    height: 0 !important;
    opacity: 0 !important;
    transition-duration: 1s;
}

.sign .main-load{
    opacity: 0;
    animation-name: show-main-load;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes show-main-load{
    100%{
        opacity: 100% ;
    }
}

.sign .main-load span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #084480;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}