@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* adding container fluid, adjust h1~h6 font */
@layer base{
  :root{
    --gutter-x : 1.5rem;
    --gutter-y : 1.5rem;
  }
  .container-fluid{
    @apply w-full  !important;

    padding-left: calc(var(--gutter-x) * 0.5) !important;
    padding-right: calc(var(--gutter-x) * 0.5) !important;
  }
  h1, h2, h3, h4, h5, h6, p{
    margin-top: 0px !important;
  }
  h1{
    font-size: 2rem !important;
    font-weight: bold;
  }
  h2{
    font-size: 1.5rem !important;
    font-weight: bold;
  }
  h3{
    font-size: 1.17rem !important;
    font-weight: bold;
  }
  h4{
    font-size: 1rem !important;
    font-weight: bold;
  }
  h5{
    font-size: 0.83rem !important;
    font-weight: bold;
  }
  h6{
    font-size: 0.67rem !important;
    font-weight: bold;
  }
}
/* adding row and gutter utilities from bootstrap */
@layer base{
  .g-1{
    --gutter-x : 0.25rem;
    --gutter-y : 0.25rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
    margin-top: calc( var(--gutter-y) * -1);
  }
  .gx-1{
    --gutter-x : 0.25rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
  }
  .gy-1{
    --gutter-y : 0.25rem;
    margin-top: calc( var(--gutter-y) * -1);
  }
  .g-1 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
  }
  .gx-1 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
  }
  .gy-1 > *{
    margin-top: var(--gutter-y);
  }
  .g-2{
    --gutter-x : 0.5rem;
    --gutter-y : 0.5rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
    margin-top: calc( var(--gutter-y) * -1);
  }
  .gx-2{
    --gutter-x : 0.5rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
  }
  .gy-2{
    --gutter-y : 0.5rem;
    margin-top: calc( var(--gutter-y) * -1);
  }
  .g-2 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
  }
  .gx-2 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
  }
  .gy-2 > *{
    margin-top: var(--gutter-y);
  }
  .g-3{
    --gutter-x : 1rem;
    --gutter-y : 1rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
    margin-top: calc( var(--gutter-y) * -1);
  }
  .gx-3{
    --gutter-x : 1rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
  }
  .gy-3{
    --gutter-y : 1rem;
    margin-top: calc( var(--gutter-y) * -1);
  }
  .g-3 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
  }
  .gx-3 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
  }
  .gy-3 > *{
    margin-top: var(--gutter-y);
  }
  .g-4{
    --gutter-x : 1.5rem;
    --gutter-y : 1.5rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
    margin-top: calc( var(--gutter-y) * -1);
  }
  .gx-4{
    --gutter-x : 1.5rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
  }
  .gy-4{
    --gutter-y : 1.5rem;
    margin-top: calc( var(--gutter-y) * -1);
  }
  .g-4 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
  }
  .gx-4 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
  }
  .gy-4 > *{
    margin-top: var(--gutter-y);
  }
  .g-5{
    --gutter-x : 3rem;
    --gutter-y : 3rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
    margin-top: calc( var(--gutter-y) * -1);
  }
  .gx-5{
    --gutter-x : 3rem;
    margin-left: calc( var(--gutter-x) * -0.5);
    margin-right: calc( var(--gutter-x) * -0.5);
  }
  .gy-5{
    --gutter-y : 3rem;
    margin-top: calc( var(--gutter-y) * -1);
  }
  .g-5 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
  }
  .gx-5 > *{
    padding-left: calc( var(--gutter-x) * 0.5);
    padding-right: calc( var(--gutter-x) * 0.5);
  }
  .gy-5 > *{
    margin-top: var(--gutter-y);
  }
  .row{
    @apply flex flex-wrap  !important;
  }
}

:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
input:focus-visible {
  outline: none !important;
}