@media(max-width : 390px){
    nav .bar span{
        display: flex !important;
    }
    nav .bar > div{
        visibility: hidden;
        opacity: 0;
        flex-direction: column-reverse !important;
        padding: 0.5rem;
        position: absolute;
        top: 110%;
        right: 0;
        background-color: #f4f4f4;
        transition: visibility 0.5s 0.5s, opacity 0.5s 0s;
    }
    nav .bar > div.show{
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s;
    }
    nav .bar > div button{
        margin: 0 !important;
    }
    nav .bar > div .lang-selector{
        margin-bottom: 8px !important;
    }
}

nav ~ .logout-loading span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}



@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
